@using Microsoft.AspNetCore.Mvc.Localization
@model Composr.Web.ViewModels.PostSearchViewModel
@inject IViewLocalizer Localizer
@{ 
    var post = Model.SearchResults.SingleOrDefault();
}
<section>
    @Html.Partial("AMPBreadCrumbsPartialView", Model)
    <article>
        <h1>@post.Title</h1>
        <p>@post.MetaDescription</p>
        @if (@post.PostImage != null)
        {
            <div><amp-img src="/@post.PostImage.Url.ToLowerInvariant().Replace(".jpg", "-xs.jpg")" srcset="/@post.PostImage.Url.ToLowerInvariant().Replace(".jpg", "-xs.jpg") 400w, /@post.PostImage.Url.ToLowerInvariant().Replace(".jpg", "-sm.jpg") 800w" alt="@post.PostImage.Caption" width="400" height="300" layout="responsive"></amp-img></div>
        }
        @Html.Raw(@post.Body)
    </article>
</section>
@if (Model.RelatedResults != null && Model.RelatedResults.Count > 0)
{
<section>
    <header><h2>@Localizer["You may also like"]</h2></header>
    @Html.Partial("AMPSearchResultsPartialView", Model.RelatedResults)
</section>
}
@section opengraph{<meta property="og:url" content="@Model.CanonicalUrl" />
<meta property="og:type" content="article" />
<meta property="og:title" content="@post.Title" />
<meta property="og:description" content="@post.MetaDescription" />
    @if (@post.PostImage != null)
    {
        <meta property="og:image" content="@Model.BlogUrl/@post.PostImage.Url.ToLowerInvariant().Replace(".jpg", "-xs.jpg")" />
        <meta property="og:image:width" content="400" />
        <meta property="og:image:height" content="300" />
        <meta property="og:image" content="@Model.BlogUrl/@post.PostImage.Url.ToLowerInvariant().Replace(".jpg", "-sm.jpg")" />
        <meta property="og:image:width" content="800" />
        <meta property="og:image:height" content="600" />
    }
}