@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model Composr.Web.ViewModels.PostSearchViewModel
<section class="container">
    @Html.Partial("BreadCrumbsPartialView", Model)
    <h1>@Localizer["Search Results"]</h1>
</section>
@if (@Model.SearchResults.Count > 0)
{
    <section class="container">
        @Html.Partial("SearchResultsPartialView", Model.SearchResults)
    </section>
    <section class="container">
        @Html.Partial("PaginatorPartialView", Model)
    </section>
}
else
{
    <section class="container">
        <article>
            @Localizer["<p>We're sorry we could match any document to your search.</p><p>Suggestions:</p><ul><li>Please check spelling</li><li>Try different keywords</li><li>Try fewer and more generic words</li></ul>"]
        </article>
    </section>
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#q").val("@Html.Raw(@Model.SearchQuery)");
        });
    </script>
}

@section ads
{
    @if (!string.IsNullOrWhiteSpace(@Model.AdPublisherJSCode))
    {
        @Html.Raw(@Model.AdPublisherJSCode);
    }
}