@using Microsoft.AspNetCore.Mvc.Localization
@using Composr.Lib.Util
@inject IViewLocalizer Localizer
@inject Composr.Core.Blog Blog

@model Composr.Web.ViewModels.BaseFrontEndViewModel
<!doctype html>
<html ⚡ lang="@Blog.Locale.ToString().ToLowerInvariant()">
<head>
    <meta charset="utf-8">
    <title>@Model.Title</title>
    @if (!@Model.CanonicalUrl.IsBlank())
    { @Html.Raw($"<link rel=\"canonical\" href=\"{@Model.CanonicalUrl}\">");
    }
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    @Html.Raw($"<style amp-boilerplate>body{{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}}@-webkit-keyframes -amp-start{{from{{visibility:hidden}}to{{visibility:visible}}}}@-moz-keyframes -amp-start{{from{{visibility:hidden}}to{{visibility:visible}}}}@-ms-keyframes -amp-start{{from{{visibility:hidden}}to{{visibility:visible}}}}@-o-keyframes -amp-start{{from{{visibility:hidden}}to{{visibility:visible}}}}@keyframes -amp-start{{from{{visibility:hidden}}to{{visibility:visible}}}}</style><noscript><style amp-boilerplate>body{{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}}</style></noscript>")
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <style amp-custom>

body, .container {
    font-family: 'Open Sans';     
    line-height:25px;
}

p {
    font-size: 1.1em;
    text-align: justify;
}

footer > ul{
  margin-bottom:20px;
  overflow:hidden;
  padding:0;
}
footer > ul > li{
  float:left;
  display:inline;
}
footer > ul > li > a{
    text-decoration:none;
    white-space:nowrap;
}

h1,h2,h3,h4{
    padding-bottom:2px;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

nav{
    width:100%;
    background-color:rgb(245, 245, 245);
    border-color:rgb(231, 231, 231);
    min-height:25px;
}
nav > .container > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav > .container > ul > li.logo > a{
    margin:0;padding:0;
}
nav > .container > ul li {float: left;}
nav > .container > ul li.navright {float: right;}
nav > .container > ul li a {
    display: inline-block;
    text-align: center;
    padding:15px 25px 10px 0 ;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
p{
    text-align: justify;
}

@@media only screen and (min-width : 100px) {    
    .container{        
        padding:0 10px 0 10px;
        width:90%; 
        margin:0 auto;
    }     

    footer > ul > li{
        width:50%;
    }
}

@@media only screen and (min-width : 500px) {    
    .container{        
        padding:0 10px 0 10px;
        width:92%; 
        margin:0 auto;
    }     

    footer > ul > li{
        width:33.3333%;
    }
}

@@media only screen and (min-width : 700px) {    
    .container{        
        padding:0 10px 0 10px;
        width:92%; 
        margin:0 auto;
    }     

    footer > ul > li{
        width:25%;
    }
}

@@media only screen and (min-width : 1070px) {
    .container{
        width:1000px;
        margin: 0 auto;
    }

    footer > ul > li{
        width:16.666%;
    }
}
    </style>
</head>
<body>
    @Html.Partial("AMPNavigationPartialView", Model)
    @RenderBody()
    @Html.Partial("AMPFooter", Model)    
</body>
</html>