@model Composr.Web.ViewModels.BaseFrontEndViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    @if(!string.IsNullOrWhiteSpace(@Model.MetaDescription))
    {
        @Html.Raw($"<meta name=\"description\" content=\"{@Model.MetaDescription}\">");
    }
    @if (!string.IsNullOrWhiteSpace(@Model.CanonicalUrl))
    {
        @Html.Raw($"<link rel=\"canonical\" href=\"{@Model.CanonicalUrl}\">");
    }

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/themes/cookbook/site.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/themes/cookbook/site.min.css" rel="stylesheet" />
    </environment>
    <title>@Model.Title</title>
</head>
<body>
    @Html.Partial("NavigationPartialView", Model)
    <section class="container">
        @RenderBody()        
    </section>
    <section class="container">
        <footer>
            <div class="row">
                <p class="col-lg-2 col-md-3 col-sm-4 col-xs-7">@Model.Copyright</p>
            </div>
        </footer>
    </section>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
        <script src="~/themes/cookbook/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/themes/cookbook/site.min.js"></script>
    </environment>    
    @RenderSection("scripts", required: false)    
</body>
</html>