@using Microsoft.AspNetCore.Mvc.Localization
@using Composr.Lib.Util
@inject IViewLocalizer Localizer

@model Composr.Web.ViewModels.BaseFrontEndViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    @if (!@Model.MetaDescription.IsBlank()){@Html.Raw($"<meta name=\"description\" content=\"{@Model.MetaDescription}\">");}
    @if (!@Model.CanonicalUrl.IsBlank()) {@Html.Raw($"<link rel=\"canonical\" href=\"{@Model.CanonicalUrl}\">");}

    @foreach (var hreflang in Model.HrefLangUrls)
    {
        @if (!hreflang.Key.IsBlank() && !hreflang.Value.IsBlank())
        {
            <link rel="alternate" hreflang="@hreflang.Key" href="@hreflang.Value" />
        }
    }

    @RenderSection("meta", required: false)
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/themes/cookbook/site.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/themes/cookbook/site.min.css" rel="stylesheet" />
    </environment>
    <title>@Model.Title</title>
</head>
<body>
    @Html.Partial("NavigationPartialView", Model)
    @RenderBody()

    <section class="container">
        <br />
        @RenderSection("ads", required: false)
    </section>

    <section class="container">
        <footer>
            <h4>Popular Searches</h4>
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6"><a href="@Localizer["/en/search?cat=chicken"]" rel="nofollow">@Localizer["Chicken Recipes"]</a></div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6"><a href="@Localizer["/en/search?cat=curry"]" rel="nofollow">@Localizer["Curry"]</a></div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6"><a href="@Localizer["/en/search?cat=dessert"]" rel="nofollow">@Localizer["Desserts"]</a></div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6"><a href="@Localizer["/en/search?cat=fish"]" rel="nofollow">@Localizer["Fish Recipes"]</a></div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6"><a href="@Localizer["/en/search?cat=grill"]" rel="nofollow">@Localizer["Grilled"]</a></div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6"><a href="@Localizer["/en/search?cat=meat"]" rel="nofollow">@Localizer["Meat Recipes"]</a></div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6"><a href="@Localizer["/en/search?cat=pudding"]" rel="nofollow">@Localizer["Puddings"]</a></div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6"><a href="@Localizer["/en/search?cat=rice"]" rel="nofollow">@Localizer["Rice Dishes"]</a></div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6"><a href="@Localizer["/en/search?cat=salad"]" rel="nofollow">@Localizer["Salads"]</a></div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6"><a href="@Localizer["/en/search?cat=streetfood"]" rel="nofollow">@Localizer["Street Food"]</a></div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6"><a href="@Localizer["/en/search?cat=vegetarian"]" rel="nofollow">@Localizer["Vegetarian"]</a></div>
            </div>
            <hr />
            <div class="row">
                <p class="col-lg-2 col-md-3 col-sm-4 col-xs-6">@Model.Copyright</p>
                @await Html.PartialAsync("LanguageSelectionPartialView")
            </div>
        </footer>
    </section>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
        @*<script src="~/themes/cookbook/site.js"></script>*@
    </environment>
    <environment names="Staging,Production">
        <script src="~/themes/cookbook/site.min.js"></script>
    </environment>
    @RenderSection("scripts", required: false)
    @if (!string.IsNullOrWhiteSpace(@Model.AnalyticsTrackingJSCode))
    {
        @Html.Raw(@Model.AnalyticsTrackingJSCode);
    }

    <script type="text/javascript">
        $('#q').autocomplete({
            paramName: 'q',
            minChars: 3,
            serviceUrl: '@Localizer["/"]api/autocomplete',
            onSelect: function (suggestion) {
                //alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
                window.location.href = suggestion.data;
            },
            formatResult: function (suggestion, currentValue) {
                if (suggestion.value == "Display all results")
                    return '<a href="#">' + $.Autocomplete.formatResult(suggestion, currentValue) + '</a>';

                return $.Autocomplete.formatResult(suggestion, currentValue);
            }
        });

        $("body").keypress(function () {
            $("#q").focus();
        });
    </script>
</body>

</html>