@model Composr.Web.ViewModels.PostSearchViewModel
<ul class="list-group">
    @foreach (var result in Model.SearchResults)
    {
        <li class="list-group-item">
            <article>
                <h1 class="list-group-item-heading search-results-heading"><a href="@result.URN">@result.Title</a></h1>
                <time class="date" datetime="@result.DatePublished">@result.DatePublished</time>
                <p class="list-group-item-text">@result.Snippet <br /><a href="@result.URN">Read More</a></p>
            </article>
        </li>
    }
</ul>