@model Composr.Web.ViewModels.PostSearchViewModel

<ul class="list-group">

    @foreach (var result in Model.SearchResults)
    {
        <li class="list-group-item">
            <a href="@result.URN">
                <h1 class="list-group-item-heading search-results-heading">@result.Title</h1>
            </a>
            <time class="date" datetime="@result.DatePublished">@result.DatePublished</time>
            <p class="list-group-item-text">@Html.Raw(@result.Body)</p>
        </li>
    }
</ul>