@model Composr.Web.ViewModels.PostSearchViewModel



    @foreach (var result in Model.SearchResults)
    {        
        <h1 class="post-heading">@result.Title</h1>            
        <time class="date" datetime="@result.DatePublished">@result.DatePublished</time>
        <p>@Html.Raw(@result.Body)</p>
    }