@model Composr.Web.ViewModels.PostSearchViewModel
@{ 
    var post = Model.SearchResults.SingleOrDefault();
}
@*<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Recipe</li>
</ol>*@
<h1 class="post-heading">@post.Title</h1>            
@*<time datetime="@post.DatePublished">@post.DatePublished</time>
<br/>*@
<article>
    @Html.Raw(@post.Body)
</article>