@model Composr.Web.ViewModels.PostSearchViewModel
@{ 
    var post = Model.SearchResults.SingleOrDefault();
}
<article>
    <h1 class="post-heading">@post.Title</h1>    
    <p>@post.MetaDescription</p>
    @if(@post.PostImage != null){
        <div><img class="img-responsive img-details-page" src="/@post.PostImage.Url" alt="@post.PostImage.Caption"/></div>
    }
    @Html.Raw(@post.Body)
</article>