@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject Composr.Core.Blog Blog

@{ 
    string rootUrl = Blog.Url.TrimEnd('/');
}

<hr />
<environment names="Staging,Production">
    <section>
        @if (!string.IsNullOrWhiteSpace(@Model.AdPublisherJSCode))
        {
            @Html.Raw(@Model.AdPublisherJSCode);
        }
    </section>
</environment>
    <section>
        <footer>
            <h4>@Localizer["Popular Searches"]</h4>
            <ul class="grid">
                @if (Model.CategoryPages != null && Model.CategoryPages.Count > 0)
            {
                    @foreach (var cat in Model.CategoryPages)
                {
                        <li class="col-3_md-4_sm-6_xs-6"><a href="@rootUrl@cat.URN" rel="nofollow">@cat.Title</a></li>
                    }
                }
            </ul>
            <hr />
            <div class="grid">
                <span class="col-2_md-3_sm-4_xs-6">@Model.Copyright</span>
                @*@await Html.PartialAsync("AMPLanguageSelectionPartialView")*@
            </div>
        </footer>
    </section>
