@model IEnumerable<Composr.Core.Hit>
@inject Composr.Core.Blog Blog
<section class="grid">
    @foreach (var result in Model)
    {
        <div class="col-3_md-4_sm-6_xs-12">
            <div class="polaroid">
                <a href="@result.URN">
                    @if (result.PostImage != null && !string.IsNullOrWhiteSpace(result.PostImage.Url))
                    {
                        <amp-img src="@Blog.Url/@result.PostImage.Url.ToLowerInvariant().Replace(".jpg", "-xs.jpg")" alt="@result.PostImage.Caption" width="400" height="300" layout="responsive"></amp-img>
                    }
                    else
                    {
                        <amp-img src="@Blog.Url/images/cocozil/no-image-xs.jpg" class="img-thumbnail" width="400" height="300" layout="responsive"></amp-img>
                    }
                    <header><h4>@result.Title</h4></header>
                </a>
            </div>
        </div>
    }
</section>