@model Composr.Web.ViewModels.BaseFrontEndViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />    
    <meta charset="UTF-8" /> 
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/programagic-style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    @RenderSection("css", required: false)
    <title>@ViewBag.Title</title>
    
</head>
<body>    
        <section class="bodywrapper">
            <section class="jumbotron">
                <div class="container">
                    <header>
                        <a href="@Model.BlogUrl"><img class="img-responsive " src="@Model.LogoUrl"></a>
                    </header>
                </div>
                <div style="text-align:center;" class="jumbo-text">
                    Programming Ideas And Experiments
                </div>
            </section>

            <section>
                <div class="container">
                    @RenderBody()


                    <!-- Footer -->
                    <footer>
                        <div class="row">

                            <p class="col-lg-2 col-md-3 col-sm-4 col-xs-7">@Model.Copyright</p>
                            @*<p class="col-lg-2 col-md-3 col-sm-4 col-xs-3"><a href="#" target="_blank">Privacy</a></p>
                            <p class="col-lg-2 col-md-3 col-sm-4 col-xs-2"><a href="#" target="_blank">Terms</a></p>*@

                        </div>
                        @*<div class="row"><p class="col-lg-2 col-md-3 col-sm-4 col-xs-7">Built with <a href="https://github.com/r15h1/composr" target="_blank">Composr</a></p></div>*@
                        <!-- /.row -->
                    </footer>
                </div>
            </section>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

            @RenderSection("scripts", required: false)
        </section>

</body>
</html>
