@model Composr.Web.ViewModels.BaseViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />    
    <meta charset="UTF-8" /> 
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("css", required: false)
    <title>@ViewBag.Title</title>
    <style>
       .btn-toolbar{
           margin-bottom:5px;
       }

       .error{
           color:red;
           font-weight:bolder;
       }
    </style>
</head>
<body>
    <nav class="navbar" role="navigation">
        <!-- add header -->
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Model.BlogUrl">
                        <img src=@Model.LogoUrl />
                </a>
            </div>
        </div>
    </nav>

    <section class="container">
        @*<h1>@ViewBag.Title</h1>*@

        <!-- /.row -->
        <!-- Projects Row -->

        @RenderBody()

        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>@Model.Copyright</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
