@model Composr.Web.ViewModels.BaseFrontEndViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    @if(!string.IsNullOrWhiteSpace(@Model.MetaDescription))
    {
        @Html.Raw($"<meta name=\"description\" content=\"{@Model.MetaDescription}\">");
    }
    @if (!string.IsNullOrWhiteSpace(@Model.CanonicalUrl))
    {
        @Html.Raw($"<link rel=\"canonical\" href=\"{@Model.CanonicalUrl}\">");
    }

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/cookbook.css" rel="stylesheet">
    <title>@Model.Title</title>
</head>
<body>
    @Html.Partial("NavigationPartialView", Model)
    <section class="container">
        @RenderBody()        
    </section>
    <section class="container">
        <footer>
            <div class="row">

                <p class="col-lg-2 col-md-3 col-sm-4 col-xs-7">@Model.Copyright</p>
                <p class="col-lg-2 col-md-3 col-sm-4 col-xs-3"><a href="#" target="_blank" rel="nofollow">Privacy</a></p>
                <p class="col-lg-2 col-md-3 col-sm-4 col-xs-2"><a href="#" target="_blank" rel="nofollow">Terms</a></p>

            </div>
        </footer>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)    
    <script src="~/lib/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <script type="text/javascript">
        $('#q').autocomplete({
            paramName: 'q',
            minChars:3,
            serviceUrl: '/api/autocomplete',
            onSelect: function (suggestion) {
                //alert('You selected: ' + suggestion.value + ', ' + suggestion.data);
                window.location.href = suggestion.data;
            },
            formatResult: function (suggestion, currentValue) {
                if(suggestion.value == "Display all results")
                    return '<a href="#">' + $.Autocomplete.formatResult(suggestion, currentValue) + '</a>';

                return $.Autocomplete.formatResult(suggestion, currentValue);
            }
        });

        $("body").keypress(function () {
            $("#q").focus();
        });
    </script>
</body>
</html>